{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Bienvenidos</h1>
  <p class="lead">Puedes escribir tus mensajes y comunicarte con tus amigos.</p>
  <hr class="my-4">
  <p>Solo pon tu nombre y crea tu mensaje.</p>
  <a class="btn btn-primary btn-lg" href="/about" role="button">About</a>
</div>

<div class="row">
  <div class="col-md-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for messages in messages%}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ messages }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card card-body"
    <form action="/add_contact" method="POST">
      <div class="form-group">
        <input type="text" name="fullname" placeholder="Fullname" class= "form-control">
      </div>
      <div class="form-group">
        <input type="text" name="text" placeholder="Text" class= "form-control">
      </div>
      <button type="sumbit" class="btn btn-primary btn-block">
        Save
      </button>
    </form>
    </div>
  </div>
  <div class="col-md-7">
    <table class="table table-striped table-bordered bg-white">
      <thead>
        <tr>
          <td>Fullname</td>
          <td>Texto</td>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td>{{ contact.1 }}</td>
          <td>{{ contact.2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
